.city {
    &--list {
        display: flex;
    }

    &--detail {
        max-width: 500px;
        margin: 1rem;
        margin-top: 0;
    }

    &__id {
        margin-left: 1rem;
        color: #cccccc;
    }

    &__remove {
        margin-left: auto;
    }

    &__weather {
        display: grid;
        padding: 0;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        &__type {
            // grid-column:
        }

        &__temperature {
            grid-column: 1;
            grid-row: 2;
        }

        &__info {
            display: flex;
            padding: 2rem;
            flex-direction: column;
            align-items: center;

            &-icon {
                font-size: 4rem;
                opacity: 0.1;

                @media screen and (min-width: 641px) {
                    font-size: 7rem;
                }
            }

            &-text {
                font-size: 1.4rem;

                @media screen and (min-width: 641px) {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
