.footer {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;

    &__addcity {
        margin: 0 auto;
        margin-bottom: 2rem;

        &__separator {
            width: 180px;
        }
    }

    .filters {
        margin: 0 auto;
    }
}
