.settings {
    width: 500px;
    margin: 0 auto;
    text-align: center;

    .list-group {
        width: 80%;
        margin: 0 auto;

        &-item {
            margin: 1px 0;
            cursor: pointer;
        }
    }
}
