.geolocCity {
    &__form {
        margin-top: 5px;
    }

    &__button {
        display: flex;
        width: 180px;
        justify-content: space-between;

        span {
            margin-top: 1px;
            margin-left: 1rem;
        }
    }
}
