$wi-path: '../../../node_modules/weather-icons-sass/font/';
@import '../../../node_modules/weather-icons-sass/sass/weather-icons-core.scss';
@import '../../../node_modules/weather-icons-sass/sass/weather-icons-variables.scss';
@import '../../../node_modules/weather-icons-sass/sass/weather-icons-classes.scss';
@import "../../../node_modules/weather-icons-sass/sass/mappings/wi-wmo4680.scss";
@import "../../../node_modules/weather-icons-sass/sass/mappings/wi-owm.scss";
